$green-300: #9AE6B4;
$green-400: #68D391;
$green-500: #48BB78;
$green-600: #38A169;
$green-700: #2F855A;
$green-800: #276749;
$green-900: #22543D;

$green-check: #22C55E;

$color-text: #FFF;

$zinc-400: #A1A1AA;
$zinc-800: #27272A;
$zinc-900: #18181B;


$SquareSize: 4rem;
$border-radius: 0.8rem;
$gapDays: 0.8rem;