@import '../../Styles/Variables.scss';


.daysOfWeek-table {
    height: $SquareSize;
}

.daysOfWeek-rowa {
    display: flex;
    gap: calc($gapDays + 0.4rem);
    height: $SquareSize;
}

.daysOfWeekk {
    width: $SquareSize;
    height: $SquareSize;
    background: $green-500;
    border: 2px solid $green-700;
    border-radius: $border-radius;
    cursor: pointer;
}

