@import '../../Styles/Variables.scss';

.habitDay-container {
    display: grid;
    grid-template-columns: $SquareSize auto;
    align-items: center;
    gap: 1.2rem;
    background: none;
    border: none;
    width: 100%;

    .habitDay-checked {
        width: $SquareSize;
        height: $SquareSize;
        background-color: $zinc-900;
        border: 2px solid $zinc-800;
        color: $color-text;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        border-radius: $border-radius;

        &.checked {
            background-color: $green-check;
            border: none;
        }
    }

    .habitDay-label {
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-text;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;

        &.checked {
            text-decoration: line-through;
            color: $zinc-400;
        }
    }
}